{% extends "index.html" %}
{% block title %}Models{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='table.css') }}" />
{% endblock %}
{% block content %}
    <h1>Models</h1>
    <table id="general_table">
        <tr id="table_header">
            <td>ID</td>
            <td>Description</td>
            <td>Date inserted</td>
            <td>Include test set</td>
            <td>Slices</td>
            <td>Deprecated</td>
            <td>nId</td>
            <td>Model</td>
            <td>F1</td>
            <td>Precision</td>
            <td>Recall</td>
            <td>Accuracy</td>
            <td>Accuracy interval 90%</td>
            <td>Param</td>
            <td>ROC AUC</td>
            <td>Pool Id</td>

        </tr>
        {% for index, row in models_list %}
            <tr class="table_content {{ loop.cycle('odd', 'even') }}">
                <td><a href="/models/{{ row['_id'] }}">{{ row['_id'] }}</a></td>
                <td>{{ row['description'] }}</td>
                <td>{{ row['date_inserted'] }}</td>
                <td>{{ row['include_test_set'] }}</td>
                <td>{{ row['slices'] }}</td>
                <td>{{ row['deprecated'] }}</td>
                <td>{{ row['nId'] }}</td>
                <td>{{ row['estimated_score']['model'] }}</td>
                <td>{{ '%0.2f' % row['estimated_score']['f1'] }}</td>
                <td>{{ '%0.2f' % row['estimated_score']['precision'] }}</td>
                <td>{{ '%0.2f' % row['estimated_score']['recall'] }}</td>
                <td>{{ '%0.2f' % row['estimated_score']['accuracy'] }}</td>
                <td>{{ '%0.2f' % row['estimated_score']['accuracy_interval90'] }}</td>
                <td>{{ '%0.2f' % row['estimated_score']['param'] }}</td>
                <td>{{ '%0.2f' % row['estimated_score']['roc_auc'] }}</td>
                <td><a href="/pools/{{ row['pool_id'] }}">{{ row['pool_id'] }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
