{% extends "index.html" %}
{% block title %}Pool {{ pool['_id'] }} - {{ pool['description'] }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='gallery.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='table.css') }}" />
{% endblock %}
{% block content %}
    <h1>Pool #{{ pool['_id'] }}</h1>
    <h2>Description: {{ pool['description'] }}</h2>

    <table id="general_table">
        <tr id="table_header">
            <td>Property</td>
            <td>Value</td>
        </tr>
        {% for property_name, property_value in properties.items() %}
            <tr class="table_content {{ loop.cycle('odd', 'even') }}">
                <td>{{ property_name }}</td>
                <td>{{ property_value }}</td>
            </tr>
        {% endfor %}
    </table>

    {% for target in class_images %}
        <h3>Target: {{ target }}</h3>
        {% for image in class_images[target] %}
            {% if image['valid_image'] %}
            <a href="/get_image/{{image['IId']}}"><img src="/get_image/{{image['IId']}}" class="thumbnail"/></a>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <h2>Trained Models{% if models %} <a href="/models/filter?pool_id={{pool['_id']}}">(as list)</a>{% endif %}</h2>
    {% if models %}
        {% for model in models %}
            <p>{% include 'block/model.html' %}</p>
        {% endfor %}
    {% else %}
        <p>No trained models</p>
    {% endif %}
{% endblock %}
